<h2>Kana Transcription Test</h2>

<div class="controls">
    <div class="select">
        <label for="alphabet-select">Alphabet </label>
        <select [(ngModel)]="selectedAlphabet" name="alphabet" id="alphabet-select">
            <option value="katakana">Katakana</option>
            <option value="hiragana">Hiragana</option>
            <option value="kanji">Kanji (soon)</option>
        </select>
    </div>
    <button class="start-button" [routerLink]="getLink()">Start</button>
    <button class="start-button" routerLink="">Home</button>
</div>

<router-outlet></router-outlet>